*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    font-family: 'Open Sans', sans-serif;
}
.image-box{
    width: 300px;
    height: 200px;
    position: relative;
}
.image-box img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
}
.image-box::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    border-radius: 100%;
    box-shadow: 0 0 100px 100px #ffffff;
    opacity: 0;
    transition: 0.5s;
}
.image-box.move:hover img{
    box-shadow: 0 0 40px 0 #000000;
    transform: translateY(-30px);
}
.image-box.move:hover::before{
    opacity: 0.2;
    transform: translateY(20px);
}